<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}" />
  <title>Welcome</title>
  <style>
    * {
      box-sizing: border-box;
    }

    header {
      background: #152C4D;
      margin: 0 auto;
    }

    h1 {
      color: #ffffff;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      padding-top: 30px;
    }

    a {
      display: block;
      text-align: center;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <header>
    <h1>歡迎光臨，這是會員頁</h1>
  </header>
  <main>
    <div class=signin＿sys>
      <h2>恭喜您，成功登入系統</h2>
    </div>
    <div calss=signout_sys>
      <a href="/signout">登出系統
      </a>
    </div>
  </main>
</body>

</html>